.btn {
  &--primary {
    background-color: $Accent;
    color: $White;

    &:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
    }
  }

  &--secondary {
    background-color: $Gray100;
    color: $BodyDark;

    &:hover {
      background-color: $Gray200;
    }
  }
}
