.emoji {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &--happy-3 {
    background-image: url('../assets/emoji/happy-3.svg');
  }

  &--nerd {
    background-image: url('../assets/emoji/nerd.svg');
  }
}