// *** Margins ***
.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

// *** Paddings ***

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
