// *** Fonts ***
$main-font: 'Poppins', sans-serif;

// *** Colors ***
$Heading: #333333;
$BodyLight: #818386;
$BodyDark: #595F69;
$Border: #E1E3E5;
$Gray100: #F2F5FA;
$Gray200: #E3E6EB;
$Accent: #3A63DE;
$White: #FFFFFF;
$Red: #FD726A;
$Green: #44CB7F;
